name: 'Markdown'

on:
  # Triggers the workflow on push or pull request events but only for the main branch
  # push:
  #   branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:


jobs:
  lint:
    runs-on: ubuntu-latest
    environment: development

    steps:
    - name: Checkout
      uses: actions/checkout@main

    - name: Lint
      uses: docker://avtodev/markdown-lint:v1 # fastest way
      with:
        config: './assets/markdown/markdownlint.yml'
        args: "**/*.md"
