---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: cert-manager
  namespace: flux-system
spec:
  chart:
    spec:
      chart: cert-manager
      sourceRef:
        kind: HelmRepository
        name: jetstack
      version: 1.8.0
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  releaseName: cert-manager
  targetNamespace: cert-manager
  interval: 1m0s
  values:
    installCRDs: true
    prometheus:
      # set to true if you want to enable prometheus monitoring for cert-manager
      enabled: false
